<html class="show_page">
<div class="show_page">

  <h3><%= "Reviewer: #{@user.name}" %></h3>

  <% @user.reviews.each do |review| %>
  <ul>

    <li><%= "Book Reviewed: #{review.book.title}" %></li>
    <br>
    <li><%= "Review Title: #{review.title}" %></li>
    <br>
    <li><%= "Review: #{review.description}" %></li>
    <br>
    <li><%= "Rating: #{review.rating}" %></li>
    <br>
    <br>
  </ul>
  <br>
  <%= link_to "Delete Review", review_path(review), method: :delete %>
  <br>
  <% end %>

</div>
</html>
