<div class="collection">
  <br>
  <h1>* The Collection *</h1>
  <br>
  <div id="stats">
    <h2 class="ui centered header">Statistics</h2>
    <div class="ui centered grid">
        <div class="ui five wide column">
          <div class="ui huge centered header">
            <p>Highest Rated Books: </p>
          </div>
          <div class="ui ordered list">
            <% @books.highest_rated_3.each do |book| %>
            <div class="item"><%= link_to "#{book.title}", book_path(book)%><%=", Rating: #{book.avg_rating}" %></div>
            <% end %>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui huge centered header">
            <p>Lowest Rated Books: </p>
          </div>
          <div class="ui ordered list">
            <% @books.lowest_rated_3.each do |book| %>
              <div class="item"><%= link_to "#{book.title}", book_path(book)%><%=", Rating: #{book.avg_rating}" %></div>
            <% end %>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui huge header">
            <p>Top Reviewers: </p>
          </div>
          <div class="ui ordered list">
              <% @users.top_3_reviewers.each do |user| %>
                <div class="item"><%= link_to "Username: #{user.name}", user_path(user)%><%=", Total number of reviews: #{user.reviews.count}"  %></div>
              <% end %>
          </div>
        </div>
      </div>
    <br>
    <br>
    <br>
    <br>
    </div>
  </div>
<div id="card-body" class="ui five centered cards">
    <% @books.each do |book| %>
    <div class="card-columns card">
      <div class="header">
        <h2><%= link_to "#{book.title}", book_path(book)%></h2>
      </div>
      <div class="image">
        <img class="medium rounded image" src="<%= book.thumbnail %>" alt="picture of book">
      </div>
      <div class="content">
        <div class="meta">
          <% book.authors.each do |author| %>
          <h3><%= link_to "#{author.name}", author_path(author) %></h3>
          <% end %>
        </div>
      </div>
      <div class="description">
        <p>Year: <%= book.year %></p>
        <p>Pages: <%= book.pages %></p>
        <p>Total Reviews: <%= book.reviews_count %></p>
        <p>Average Rating: <%= book.avg_rating %></p>
      </div>
    </div>
    <% end %>
  </div>

  <div id= "add_link" class="ui inverted brown eight item menu"><%= link_to 'Add New Book', new_book_path %></div>
