<h1>All Books</h1>

<% @books.each do |book| %>
<h2><%= link_to "#{book.title}", book_path(book)%></h2>
<p>Pages: <%= book.pages %></p>
<p>Year: <%= book.year %></p>
<img src=<%= book.thumbnail %> alt="picture of book">
<% book.authors.each do |author| %>
<p><%= link_to "#{author.name}", author_path(author) %></p>
<% end %>
<% end %>
