<%= @book.title %>
<%= @book.pages %>
<% @book.authors.each do |author| %>
<%= author.name %>
<% end %>

<% @book.reviews.each do |review| %>
<ul>
<li><%= review.title %></li>
<li><%= review.user.name %></li>
<li><%= review.rating %></li>
<li><%= review.description %></li>
</ul>
<% end %>
