<html>
<body class="show_page">
<div class="show_page">

  <h1><%= @book.title %></h1>
  <% @book.authors.each do |author| %>
  <h1><%= link_to "Author: #{author.name}", author_path(author) %></h1>
  <% end %>
  <p>pages: <%= @book.pages %></p>
  <div class="stats">
    <h5>Top Reviews</h5>
    <% @book.top_3_reviews.each do |review| %>
    <ul>

      <%= link_to "#{review.user.name}", user_path(review.user) %>
      <%= review.title %>
      <%= "Rating: #{review.rating}" %>
      <br>
    </ul>
    <% end %>
    <br>
    <br>
    <h5>Worst Reviews</h5>
    <% @book.bottom_3_reviews.each do |review| %>
    <ul>

      <%= link_to "#{review.user.name}", user_path(review.user) %>
      <%= review.title %>
      <%= "Rating: #{review.rating}" %>
      <br>
    </ul>
    <% end %>
    <br>
    <br>
    <h5>Overall Average Rating</h5>
    <%= "#{@book.avg_rating} out of 5.0 possible" %>
    <br>
    <br>
  </div>
  <%= link_to 'Add New Review', new_book_review_path(@book.id) %>
  <br>
<br>
  <div id="all-reviews">

  <h2>All Book Reviews: </h2>
  <% @book.reviews.each do |review| %>
  <ul>
    <li><%= link_to review.user.name, user_path(review.user) %></li>
    <br>
    <li><%= "Review Title: #{review.title}" %></li>
    <br>
    <li><%= "Rating: #{review.rating} out of 5" %></li>
    <br>
    <li><%= "Review: #{review.description}" %></li>
  </ul>
  <% end %>
  <%= link_to "Delete Book", book_path(@book), method: :delete %>
</div>

</div>

</body>
</html>
