<html style="background:url(/images/books_to_fly.jpg) no-repeat center center fixed; font-family: fantasy;">
<h1><%= @book.title %></h1>
<p>pages: <%= @book.pages %></p>
<% @book.authors.each do |author| %>
<h2><%= link_to "#{author.name}", author_path(author) %></h2>
<% end %>

<% @book.reviews.each do |review| %>
<ul>
<li><%= review.title %></li>
<li><%= link_to review.user.name, user_path(review.user) %></li>
<li><%= review.rating %></li>
<li><%= review.description %></li>
</ul>
<% end %>
</html>
