<body class="show_page">
<%= form_for [@book, @review] do |f| %>
<%= f.hidden_field :book_id, value: @book.id %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :user%>
<%= f.text_field :user %>
<br>
<br>
<p>Rating must be between 1 and 5:</p>
<%= f.label :rating%>
<%= f.number_field :rating %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.submit %>
<% end %>
</body>
